:root {
    --main-brand-color:  #eb8c00!important;
    --button-yellow-color: #e0a800 !important;
}
.bg-main-brand {
    background-color: black!important;
    color: white;
}
.bg-main {
    background-color: var(--main-brand-color)!important;
    color: white;
}
a.nav-link {
    color: black;
    font-weight: bold !important;
}
.bg-header {
    background-color: #BFD7ED !important;
}
.bg-brand-01 {
    background-color: #68BBE3 !important; 
}
.bg-brand-02 {
    background-color: #0E86D4 !important;
}
.bg-brand-03 {
    background-color: #055C9D !important;
}
.bg-brand-04 {
    background-color: #003060 !important;
}
.text-main {
    color: var(--main-brand-color) !important;
}
.text-second {
    color: #eb8c00 !important;
}

.btn-green {
    color: #fff !important;
    background-color: var(--main-brand-color) !important;
    border-color: var(--main-brand-color) !important;
    display: inline-block !important;
    width: 100% !important;
    font-weight: 400 !important;
    text-align: center !important;
    border-radius: .25rem !important;
    line-height: 1.5 !important;
    cursor: pointer !important;
    padding: .375rem .75rem !important;
    font-family: inherit !important;
    border: 1px solid transparent !important;
    outline: none !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out !important;
}

.btn-green:hover {
    color: #fff !important;
    background-color: #0E86D4 !important;
    border-color: #0E86D4 !important;
}

.btn-yellow {
    color: #212529 !important;
    background-color: var(--button-yellow-color) !important;
    border-color: var(--button-yellow-color) !important;
    display: inline-block !important;
    font-weight: 400 !important;
    text-align: center !important;
    width: 100% !important;
    border-radius: .25rem !important;
    line-height: 1.5 !important;
    cursor: pointer !important;
    padding: .375rem .75rem !important;
    font-family: inherit !important;
    border: 1px solid transparent !important;
    outline: none !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out !important;
}

.btn-yellow:hover {
    color: #212529 !important;
    background-color: #d39e00 !important;
    border-color: #d39e00 !important;
}

button:hover,
button:active,
button:focus {
    outline: none !important;
}